<div class='container'>
  <h2 class='center'>Memory Matcher</h2>
  <hr />
  <div class='spacerS'>

  <div class="row">
    <div class="col s12 m6 l3">
      <div class="card small">
        <img class='back' src="<%= asset_path('Card.png')%>" />
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="card small">
        <img class='back' src="<%= asset_path('Card.png')%>" />
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="card small">
        <img class='back' src="<%= asset_path('Card.png')%>" />
      </div>
    </div>
    <div class="col s12 m6 l3">
      <div class="card small">
        <img class='back' src="<%= asset_path('Card.png')%>" />
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6 l3">
        <div class="card small">
          <img class='back' src="<%= asset_path('Card.png')%>" />
        </div>
      </div>
      <div class="col s12 m6 l3">
        <div class="card small">
          <img class='back' src="<%= asset_path('Card.png')%>" />
        </div>
      </div>
      <div class="col s12 m6 l3">
        <div class="card small">
          <img class='back' src="<%= asset_path('Card.png')%>" />
        </div>
      </div>
      <div class="col s12 m6 l3">
        <div class="card small">
          <img class='back' src="<%= asset_path('Card.png')%>" />
        </div>
      </div>

      <div class="row">
        <div class="col s12 m6 l3">
          <div class="card small">
            <img class='back' src="<%= asset_path('Card.png')%>" />
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card small">
            <img class='back' src="<%= asset_path('Card.png')%>" />
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card small">
            <img class='back' src="<%= asset_path('Card.png')%>" />
          </div>
        </div>
        <div class="col s12 m6 l3">
          <div class="card small">
            <img class='back' src="<%= asset_path('Card.png')%>" />
          </div>
        </div>
  </div>
</div>
